---
import { SITE, SKILLSSHOWCASE_CONFIG, SOCIAL_LINKS } from '~/config.ts'
import { GITHUB_CONFIG, POSTS_CONFIG } from '~/config.ts'
import Layout from '~/layouts/Layout.astro'
import SectionDivider from '~/components/base/SectionDivider.astro'
import GithubContributions from '~/components/base/GithubContributions.tsx'
import SocialLink from '~/components/base/SocialLink.astro'
import List from '~/components/posts/card/List.astro'
import SkillsShowcase from '~/components/base/SkillsShowcase.astro'
import { getNumPosts, getPinnedPosts } from '~/lib/data'

const { ENABLED, GITHUB_USERNAME, TOOLTIP_ENABLED } = GITHUB_CONFIG
const { size, type } = POSTS_CONFIG.homePageConfig
const { SKILLS_ENABLED, SKILLS_DATA } = SKILLSSHOWCASE_CONFIG

let showPosts = []
const pinnedPosts = await getPinnedPosts()
const hasPinnedPosts = pinnedPosts.length > 0
if (hasPinnedPosts) {
  showPosts = pinnedPosts
} else {
  showPosts = await getNumPosts(size)
}
---

<Layout title="Readme" description={SITE.description}>
  <div class="relative z-[1]">
    <div class="fade-up">
      <div class="py-8 pb-10 px-6 sm:px-8">
        <h1 class="flex flex-col gap-2">
          <span class="text-4xl sm:text-5xl tracking-tight"> Dnzzk2 </span>
          <span class="text-muted-foreground font-light text-xl sm:text-2xl block tracking-wide text-balance"> 前端开发 & 游戏玩家 </span>
        </h1>
        <div class="pro text-muted-foreground">
          <p>你好👋，我是许留山。Dnzzk2是我的英文笔名。</p>
          <p>
            我很懒，不知道写啥，随便写点东西，感兴趣的话可以看看，如果有想要交流的地方，可以发邮件给我。给大家表演个绝活，ጿ ኈ ቼ ዽ ጿ ኈ ቼ ዽ ጿ
            ！
          </p>
        </div>
        <div class="mt-6 flex gap-6">
          {
            SOCIAL_LINKS.map((item) => {
              return (
                <SocialLink href={item.url} icon={item.icon} aria-label={`Link of ${item.name}`} count={item.count} label="followers" />
              )
            })
          }
        </div>
      </div>
      {
        ENABLED && (
          <>
            <SectionDivider />
            <div class="py-8 pb-10 px-6 max-md:px-6">
              <div class="px-2 max-md:px-0">
                <h2 class="text-2xl sm:text-3xl">聚光灯</h2>
                <p class="text-muted-foreground mb-6 mt-1">最近的一些 github 贡献：</p>
              </div>
              <GithubContributions username={GITHUB_USERNAME} tooltipEnabled={TOOLTIP_ENABLED} client:load transition:animate="none" />
            </div>
          </>
        )
      }
      {
        SKILLS_ENABLED && SKILLS_DATA.length > 0 && (
          <>
            <SectionDivider />
            <div class="py-8 pb-10 px-6 max-md:px-6">
              <div class="px-2 max-md:px-0">
                <h2 class="text-2xl sm:text-3xl tracking-tight">技术</h2>
                <p class="text-muted-foreground mb-6 mt-1">以下是我在使用的一些技术：</p>
              </div>
              <SkillsShowcase skillsData={SKILLS_DATA} />
            </div>
          </>
        )
      }
      <SectionDivider />
      <div class="py-8 pb-10 px-6 sm:px-8">
        <h2 class="text-2xl sm:text-3xl tracking-tight">随笔</h2>
        <p class="text-muted-foreground mb-6 mt-1">
          {hasPinnedPosts ? `置顶的` : '最新的'}
          {showPosts.length} 篇随笔：
        </p>
        <List posts={showPosts} {type} coverLayout={POSTS_CONFIG.homePageConfig?.coverLayout} />
      </div>
    </div>
  </div>
</Layout>
